/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    flex-wrap: wrap;
}

/* Background container styles */
.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/background.jpg);
    background-color: #2222;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blur-background {
    filter: blur(5px);
}

.title,
.countertitle,
.glass,
.sub_timer {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.title {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.countertitle {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.glass {
    width: 95%;
    max-width: 95%;
    height: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
}

.glass .whishes li{
    color: #db7e27;
}

.whishes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.whishes li {
    text-align: center;
    margin-bottom: 15px;
    color: #222;
}

a {
    text-decoration: none;
    color: lightgrey;
}

.sub_timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Change from column to row */
}

.timer h1{
    color: #f2f2f2;
}

.sub_timer h1 {
    margin-right: 5px; /* Adjust the spacing between digits and text */
    color: #f2f2f2;
}

.sub_timer p {
    margin-left: 5px; /* Adjust the spacing between digits and text */
    color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center;
}

.soundsettingsframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}